@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .animation-delay-1000 {
    animation-delay: 1s;
  }
  .animation-delay-1500 {
    animation-delay: 1.5s;
  }
  .animation-delay-2000 {
    animation-delay: 2s;
  }
  .animation-delay-2500 {
    animation-delay: 2.5s;
  }
  .animation-delay-3000 {
    animation-delay: 3s;
  }
  .animation-delay-3500 {
    animation-delay: 3.5s;
  }
  .animation-delay-4000 {
    animation-delay: 4s;
  }
  .animation-delay-4500 {
    animation-delay: 4.5s;
  }
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  /* width: 100dvh; */
  height: 100dvh;
  overflow: hidden;
}

body {
    -webkit-tap-highlight-color: transparent;
}

